body{
    background-color: rgb(134, 131, 131);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

h1{
    text-align: center;
    font-style: italic bold;
    background-color: rgb(59, 58, 58);
    text-align: center;
    padding: 15px;
    margin: 30px 20px 30px 200px;
    border-radius: 5px;
    width: 900px;
}

img{
    width: 250px;
    height: 250px;
    border: double 10px black;
    border-radius: 10px;


}


.texto1{
    text-align: center;

}

#img1{
    margin-right: 5%;

}

#img2{
    margin-left: 5%;


}

#Facebook{
    margin-left: 5px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(53, 53, 233);
}

#Instagram{
    margin-left: 5px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(226, 46, 85);

}

#Twitter{
    margin-left: 5px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(68, 147, 221);
}


